<h2>Client form</h2>
<form id="editForm">
    <input type="hidden" name="id" value="{{id}}">
    <label for="firstname">
        firstname :
    </label>
    <input type="text" name="firstname" value="{{firstname}}">
    <label for="lastname">
        lastname :
    </label>
    <input type="text" name="lastname" value="{{lastname}}">
    <input type="submit" value="edit client">
</form>
<script src="/js/edit_client.js"></script>